<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
     <h1>Obras</h1>
     </head>
  <body>
     
     </canvas>
        <table class='table striped'>
            <thead>
                <tr>
                    <th>NUR</th>
                    <th>NOMBRE</th>
                    <th>AUTOR</th>
                    <th>Año</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                <tr>
                    <td>{{nur}}</td>
                    <td>{{nombre}}</td>
                  

                </tr>
                {{/each}}
            </tbody>
        </table>

       
        <div style='page-break-after: always;'>
        </div>

  </body>
</html>
