<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
     <h1>SOCIOS</h1>
     </head>
  <body>
     
     </canvas>
        <table class='table striped'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>TIPO OPERACION</th>
                    <th>FECHA ASOCIACION</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                <tr>
                    <td>{{id_agencia}}</td>
                    <td>{{nombre_agencia}}</td>
                    <td>{{tipo_de_operacion}}</td>
                    <td>{{fecha_asociacion}}</td>

                </tr>
                {{/each}}
            </tbody>
        </table>

       
        <div style='page-break-after: always;'>
        </div>

  </body>
</html>
