<style>
 {#asset fichaOrg_styles.css @encoding=utf8}
 </style>
<body>
<div id="Artboard__1">
	<div id="Group_79">
		<svg class="Rectangle_91">
			<rect id="Rectangle_91" rx="55" ry="55" x="0" y="0" width="618" height="854">
			</rect>
		</svg>
		<div id="Group_78">
			<img id="icons8_law_200px" src="https://img.icons8.com/plasticine/100/000000/law.png" >
				
			<div id="Group_77">
				<div id="Ficha_Tienda">
					<span>Ficha Tienda</span>
				</div>
				<div id="Contacto">
					<span>Contacto</span>
				</div>
				<div id="Group_76">
					<div id="Group_63">
						<svg class="Rectangle_86">
							<rect id="Rectangle_86" rx="0" ry="0" x="0" y="0" width="212" height="50">
							</rect>
						</svg>
						<div id="Apellido">
							<span>Apellido</span>
						</div>
					</div>
					<div id="Group_61">
						<svg class="Rectangle_84">
							<rect id="Rectangle_84" rx="0" ry="0" x="0" y="0" width="212" height="50">
							</rect>
						</svg>
						<div id="ID">
							<span>ID</span>
						</div>
					</div>
					<div id="Group_62">
						<svg class="Rectangle_85">
							<rect id="Rectangle_85" rx="0" ry="0" x="0" y="0" width="212" height="50">
							</rect>
						</svg>
						<div id="Nombre">
							<span>Nombre</span>
						</div>
					</div>
					<div id="Group_64">
						<svg class="Rectangle_87">
							<rect id="Rectangle_87" rx="0" ry="0" x="0" y="0" width="212" height="50">
							</rect>
						</svg>
						<div id="Telefono">
							<span>Telefono</span>
						</div>
					</div>
					<div id="Group_65">
						<svg class="Rectangle_88">
							<rect id="Rectangle_88" rx="0" ry="0" x="0" y="0" width="212" height="50">
							</rect>
						</svg>
						<div id="Email">
							<span>Email</span>
						</div>
					</div>
					<div id="Group_75">
						<div id="Group_57">
							<svg class="Rectangle_79">
								<rect id="Rectangle_79" rx="0" ry="0" x="0" y="0" width="212" height="50">
								</rect>
							</svg>
							<div id="ID_bk">
								<span>ID</span>
							</div>
						</div>
						<div id="Group_59">
							<svg class="Rectangle_81">
								<rect id="Rectangle_81" rx="0" ry="0" x="0" y="0" width="212" height="50">
								</rect>
							</svg>
							<div id="Proposito">
								<span>Proposito</span>
							</div>
						</div>
						<div id="Group_60">
							<svg class="Rectangle_82">
								<rect id="Rectangle_82" rx="0" ry="0" x="0" y="0" width="212" height="50">
								</rect>
							</svg>
							<div id="Fundacion">
								<span>Fundacion</span>
							</div>
						</div>
						<div id="Group_58">
							<svg class="Rectangle_80">
								<rect id="Rectangle_80" rx="0" ry="0" x="0" y="0" width="212" height="50">
								</rect>
							</svg>
							<div id="Nombre_bt">
								<span>Nombre</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="Group_66">
				<svg class="Rectangle_90">
					<rect id="Rectangle_90" rx="0" ry="0" x="0" y="0" width="212" height="50">
					</rect>
				</svg>
				<div id="ID1">
					<span>1</span>
				</div>
			</div>
			<div id="Group_67">
				<svg class="Rectangle_90_by">
					<rect id="Rectangle_90_by" rx="0" ry="0" x="0" y="0" width="212" height="50">
					</rect>
				</svg>
				<div id="ID1_bz">
					<span>1</span>
				</div>
			</div>
			<div id="Group_68">
				<svg class="Rectangle_90_b">
					<rect id="Rectangle_90_b" rx="0" ry="0" x="0" y="0" width="212" height="50">
					</rect>
				</svg>
				<div id="ID1_b">
					<span>1</span>
				</div>
			</div>
			<div id="Group_69">
				<svg class="Rectangle_90_ca">
					<rect id="Rectangle_90_ca" rx="0" ry="0" x="0" y="0" width="212" height="50">
					</rect>
				</svg>
				<div id="ID1_ca">
					<span>1</span>
				</div>
			</div>
			<div id="Group_70">
				<svg class="Rectangle_90_cb">
					<rect id="Rectangle_90_cb" rx="0" ry="0" x="0" y="0" width="212" height="50">
					</rect>
				</svg>
				<div id="ID1_cb">
					<span>1</span>
				</div>
			</div>
			<div id="Group_71">
				<svg class="Rectangle_90_cc">
					<rect id="Rectangle_90_cc" rx="0" ry="0" x="0" y="0" width="212" height="50">
					</rect>
				</svg>
				<div id="ID1_cc">
					<span>1</span>
				</div>
			</div>
			<div id="Group_72">
				<svg class="Rectangle_90_cd">
					<rect id="Rectangle_90_cd" rx="0" ry="0" x="0" y="0" width="212" height="50">
					</rect>
				</svg>
				<div id="ID1_ce">
					<span>1</span>
				</div>
			</div>
			<div id="Group_73">
				<svg class="Rectangle_90_cg">
					<rect id="Rectangle_90_cg" rx="0" ry="0" x="0" y="0" width="212" height="50">
					</rect>
				</svg>
				<div id="ID1_ch">
					<span>1</span>
				</div>
			</div>
			<div id="Group_74">
				<svg class="Rectangle_90_cj">
					<rect id="Rectangle_90_cj" rx="0" ry="0" x="0" y="0" width="212" height="50">
					</rect>
				</svg>
				<div id="ID1_ck">
					<span>1</span>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>